@import url("../global.css");

.ad-register {
  width: 100%;
  background-color: var(--main-brown-licore);
  height: 2rem;;
  font-family: var(--main-font-style);
}

.ad-register h4 {
  color: var(--main-yellow-cornsilk);
  text-align: center;
  font-weight: 300;
  padding: 0.4rem;
  font-size: 1rem;
}

.ad-register h4 a {
  color: var(--main-yellow-cornsilk);
}

.ad-register a:hover {
  color: var(--main-yellow-saffron);
}

header {
  background-color: var(--main-yellow-saffron);
  max-width: 100%;
  height: 5.5rem;
  margin-bottom: 0rem;
 
}

nav {
  display:flex;
  align-items: center;
  gap: 0.4rem;
  font-family: var(--main-font-style);
  font-weight: 700;
  font-size: 1rem;
}

.header-user {
  display:flex;
  align-items: center;
  gap: 1rem;

  

}

.button-assign {
  color: var(--main-yellow-cornsilk);
  background-color: var(--main-brown-licore);
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.button-assign button:hover {
  background-color: var(--hover-licore);
  cursor: pointer;

}

.header-user img:hover {
  
  cursor: pointer;
}

#header-cart-user {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  gap: 1.3rem;
  color: var(--main-brown-licore);
  background-color: transparent;
}

#header-cart-user:hover {
  background-color: var(--main-yellow-cornsilk);
  transform: scale(1.1);
  cursor: pointer;
}

.header-menu {
  background-color: transparent;
  border: none;
}

.header-menu:hover {
  scale: 1.1;
}






@media screen and (min-width:320px) and (max-width:800px) {

  header .button-assign, {
    display:none;
  }

  .header-title {
    width: 50%;
  }



 
 }


 @media screen and (min-width: 801px) and (max-width: 1250px) {



 }
 
 
 



