:root {
  --main-brown-licore: #1e000e;
  --main-yellow-saffron: #f7c325;
  --bg-product: #fdf3d3;
  --main-hover: #290214;

  --main-font-style: "Roboto", sans-serif;

  // padrao para responsividade tbm
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
