:root {
  --main-brown-licore: #1e000e;
  --main-yellow-saffron: #f7c325;
  --bg-product: #fdf3d3;
  --main-hover: #290214;

  --main-font-style: "Roboto", sans-serif;
  --main-condensed-font: "Roboto Condensed", sans-serif;
  --h2-font-size: clamp(2rem, 3vw, 3rem);

  // padrao para responsividade tbm
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aligned-main-section {
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding: 1.5rem 4rem;

  width: 100%;
  max-width: 100%;
}



ul {
  list-style-type: none;
}
