@import url("../global.css");

.section-banner {
  background-image: url("../assets/images/img_hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  color: var(--main-yellow-cornsilk);
  font-family: var(--main-font-style);
  font-size: 1.5rem;

  height: 50vh;
}

.banner-text div {
  width: 48%;
  max-width: 100%;
  padding: 0.8vh 2vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.banner-text span {
  font-style: italic;
}

.banner-text h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
  margin-bottom: 1rem;
  width: 75%;
  max-width: 75%;
}

.banner-text p {
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  font-family: var(--main-condensed-font);
  font-weight: 400;
  padding-right: 1.5vw;
}

// responsive


