@import url("../global.css");

.container-products,
.error-section {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-style);

  h3 {
    padding: 1rem 1.8rem;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    color: var(--main-brown-licore);
    font-weight: 500;
  }

  h4 {
    padding-bottom: 3rem;
    color: var(--main-brown-licore);
    font-size: clamp(1.2rem, 2.3vw, 1.5rem);
  }
 
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-product);
  width: 20rem;

  align-items: initial;
  justify-content: space-between;

  padding: 1.5rem;

  border-radius: 1rem;
}

.product-card button {
  background-color: var(--main-yellow-saffron);
  color: var(--main-brown-licore);
  font-weight: bold;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: none;

  margin-top: 1rem;
}

.product-rate {
  width: 9rem;
  height: 1.5rem;
}

.product-card button:hover {
  cursor:pointer;
}

.product-image {
  padding-bottom: 1rem;
  max-width: 100%;
}

.tooth-products {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2.5rem;
  gap: 2rem;
}

.product-price {
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--main-yellow-saffron);
}

.error-section {
  height: 100vh;

  h2 {
    padding: 1rem 1.8rem;
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--main-yellow-saffron);
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
  }
}

.error-section a:hover {
  color: var(--main-brown-licore);
  text-decoration: ;
}

.error-section img {
  width: 45rem;
  margin: 0 auto;
  padding-top: 5rem;
}

ul:hover {
  scale: 1.1;
  cursor: pointer;

}


.container-cart {
  display:none;

}

.container-cart.active {

  display:flex;
  margin-left: auto;
  width: 12rem;
  max-width: 13rem;

  margin-left: auto;

}

#root {
  display:flex;
  flex-direction: column;

}

.cart-sidebar {
  display: flex;
  flex-direction: column;

  border-radius: 0.3rem;
  background-color: var(--bg-product);



  padding: 1rem;
  text-align: center;
}


.cart-title {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 150px;
  margin-bottom: 1rem;
  background-color: var(--main-yellow-saffron);
}

.cart-total {
  display:flex;
  justify-content: space-between;
  margin: 1.4rem 0;
  padding: 0.8rem 0;
  border-top: 1px solid var(--main-brown-licore);
}


@media screen and (min-width:320px) and (max-width:550px) {

  .tooth-products {
    flex-wrap:nowrap;
    overflow: scroll;
    padding: 1rem 1.7rem;
    
  }

  .container-products {
    margin-left: -0.4rem;
  }



}